@media screen and (min-width: 1176px) {


    main {
        flex-direction: row;
        justify-content: space-evenly;

    }

    #banner img {
        width: 100%;
    }

    nav {
        flex-direction: column;
        width: 150px;
        align-items: center;
    }

    #navigation li {
        margin-top: 0;
    }

        #navigation li img {
            margin-right: 10px;
        }



    #page {
        width: 896px;
    }

            #banner {
                background-size: 100%;
                height: 445px
            }

            #up-div {
                display: flex;
                font-size: 22px;
                height: 49px;
                padding: 0 10px;
                width: fit-content;
            }
            #down-div {
                display: flex;
                height: 42px;
                width: fit-content;
                padding: 0 10px;
                margin: 0 0 50px;
            }

    #articles article {
        width: 207px;
    }

    #slider-links {
        justify-content: normal;
    }
        #slider-links div {
            padding: 10px;
        }

}