//Особо сложных конструкций в файле нет,
//переменные только там, где это реально нужно,
//файл разбит на несколько частей и объединяет все в один css файл.


//Цвета вынесены для того, чтобы можно было быстро изменить стиль страницы
// (названия стоило давать осмысленные, но я не придумал)
$sea-wave: #34ACA7;
$white: white;
$black: black;
$light-gray: #E5E5E5;
$unactive-link: #EFF8F7;
$active-link: #D9EFEC;

//Картинка вынесена для того, чтобы можно было быстро сменить баннер
//(пригодится и для внедрения JS в проект)
$background-img: url("/images/banner.svg");


* {
  font-family: Arial;
}

.main {
  display: flex
}

.nav {
  display: flex;

  &-img {
    width: 120px;
    height: 120px;
  }

  &-navigation {
    &-ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      padding-inline-start: 0;
      color: $sea-wave;

      > li {
        display: flex;
        align-items: center;
        margin: 30px;
        font-size: 14px;
      }
      > img {
        height: 30px;
        width: 30px;
      }
    }
  }

  &-joins {
    > h3 {
      margin: 5px;
      font-size: 12px;
    }

    > p {
      margin: 10px;
      font-size: 10px;
      font-style: italic;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 140px;
      height: 30px;
      border: solid 1px;
      border-radius: 5px;
      color: $sea-wave;


      > p {
        margin: 0;
        font-size: 10px;
      }

      > img {
        width: 16px;
        height: 13px;
      }
    }
  }
}

.page {

  &-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    background-image: $background-img;
    background-size: cover;
    background-repeat: no-repeat;
    font-style: italic;

    &-up {
      display: flex;
      background-color: $white;
      align-items: center;
    }

    &-down  {
      display: flex;
      background-color: $black;
      color: $white;
      align-items: center;
    }
  }

  &-slinks {
    display: flex;
    justify-content: center;
    color: $sea-wave;
    width: 100%;

    > div {
      background-color: $unactive-link;
      width: 25%;

      &.active {
        background-color: $active-link;
      }

      h3 {
        font-size: 18px;
        margin: 0;
      }

      p {
        font-size: 10px;
      }
    }
  }

  &-mail {
    display: flex;
    margin: 20px 0;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px dashed $light-gray;
    border-bottom: 1px dashed $light-gray;


    > div {
      display: flex;
      justify-content: stretch;
      align-items: center;

      > img {
        width: 32px;
        height: 26px;
        margin:  0 15px 0 0;
      }

      > p {
        margin: 0 15px;
      }

      > input {
        font-size: 10px;
        padding: 1px;
        margin: 0 0 0 30px;
      }

      > #email {
        color: $light-gray;
        border-radius: 0;
        border: solid 1px $light-gray;

        ::placeholder{
          color: $light-gray;
        }
      }

      > #submit {
        background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
        border: none;
        border-radius: 2px;
        font-size: 10px;
        width: 80px;
        height: 23px;
      }
    }
  }

  &-articles {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-article {
      > h3 {
        color: $sea-wave;
        font-size: 16px;
      }

      > time {
        color: $light-gray;
      }

      > a {
        color: $sea-wave;
      }

      > img {
        display: block;
        // outline чтобы не затрагивать рамкой расположение элементов
        outline: solid 1px $light-gray;
        outline-offset: 10px;
        width: 95%;
      }
    }
  }
}

hr {
  margin: 5vw;
}


.footer {
  display: flex;
  justify-content: space-between;
  margin: 5vw 5vw 0;

  &-left {
    a {
      color: $sea-wave;
      font-size: 12px;
    }

    span {
      display: inline-block;
      background-color: $light-gray;
      height: 14px;
      width: 1px;
    }

    p {
      color: $light-gray;
      font-size: 12px;
    }

  }

  &-right {
    #tw {
      width: 32px;
      height: 26px;
      margin: 3px;
    }

    #fb {
      width: 16px;
      height: 32px;
      margin: 3px;
    }

    #rss {
      width: 32px;
      height: 32px;
      margin: 3px;
    }
  }
}


//Imports

@import "pc";
@import "tab";
@import "phone";
