//Цвета вынесены для того, чтобы можно было быстро изменить стиль страницы
// (названия стоило давать осмысленные, но я не придумал)
$sea-wave: #34ACA7;
$white: white;
$black: black;
$light-gray: #E5E5E5;
$unactive-link: #EFF8F7;
$active-link: #D9EFEC;

//Картинка вынесена для того, чтобы можно было быстро сменить баннер
//(пригодится и для внедрения JS в проект)
$background-img: url("/images/banner-4.svg");